body{
    font-family: lato;
}

header{
    display: flex;
    margin: 60px auto;
    position: relative;
    flex-wrap: wrap;
    align-content: flex;
}

header .profile{
    margin: auto;
    box-sizing: border-box;
}

.prifile img{
    weight: 350px;
}

header .content{
    margin: auto;
    padding: 0px 50px;
    box-sizing: border-box;
    /* width: 50%; */
}

header h1{
    font-size: 45px;
    font-weight: 900;
    color: rgba(84, 65, 142, 1);
    letter-spacing: 0;
    margin-bottom: 12px
}

header p{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    color: black;
    margin-top:0;
}

.container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-content: flex-start;
}

.container .main{
    color: white;
    background-color: rgba(84, 65, 142, 1);
    border-radius: 25px;
    margin: auto;
    padding: 50px;
    margin-bottom: 30px;
}

.main h2{
    font-size: 30px;
    font-weight: 700;
}

.main p, ul{
    font-size: 18;
    font-weight: 400;
}

.main p{
    margin-left: 20px;
}

.social{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.social img{
    width: 100px;
    transition: all 0.4s;
}

.social img:hover{
    transform: scale(1.1);
}

footer{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}
