.profile{
  width: 220px;
  border: 20px;
  border-style: inset;
  border-radius: 100% 100%;
  border-color: #b4d8f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-align: center;
}

.block{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  right: 0px;
  vertical-align: top;

}
img.social{
  padding: 15px;
  width: 30px;
  border-radius: 25% 0% 0% 0%;
  transition: all 0.4s;
}
img.social:hover{
  cursor: pointer;
  transform: translateX(-10px);
  box-shadow: 1px 6px 4px 0px rgba(50, 50, 50, 0.45);
}

#facebook{
  background-color: #4064ad;

}
#instagram{
  background-color: #c04c99;
}
#linkedin{
  background-color: #0271ae;

}
#github{
  background-color: #000000;
}

h1{
  font-style: oblique;
  font-size: 30px;
  font-family: system-ui;
  color: #758d9e;
  text-align: center;
}

h2{
  font-style: oblique;
  font-size: 24px;
  font-family: system-ui;
  color: white;
  padding-left: 25px;
  background-color: #758d9e;
}

p{
  font-size: 16px;
  font-family: system-ui;
  color: gray;
  padding-left: 20px;
}

li{
  font-size: 16px;
  font-family: system-ui;
  color: gray;
}
